@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

.normalFlex {
    @apply flex items-center;
}

.section {
    @apply w-11/12 mx-auto;
}

.logo {
    @apply cursor-pointer h-8 400px:h-9 800px:h-10;
}

.button {
    @apply w-[200px] bg-[#f1c500] text-[#2d333a] h-[50px] my-3 flex items-center justify-center rounded-xl cursor-pointer;
}

.heading {
    @apply text-[27px] text-center md:text-start font-[600] pb-[20px];
}

.shop_name {
    @apply pt-3 text-[15px] text-blue-400 pb-3;
}

.productDiscountPriceSm {
    @apply font-bold text-[20px] text-[#333];
}
.productDiscountPrice {
    @apply font-bold text-[30px] text-[#333];
}

.priceSm {
    @apply font-[500] text-[16px] text-[#d55b45] pl-3 line-through;
}
.price {
    @apply font-[500] text-[22px] text-[#d55b45] pl-3 line-through;
}

.productTitle {
    @apply text-[22px] font-[600] text-[#333] lg:text-[25px];
}

.custom_container {
    @apply  w-11/12 hidden sm:block;
}

.active_indicator{
    @apply absolute bottom-[-27%] left-0 h-[3px] w-full bg-[crimson];
}

.cart_content {
    @apply w-full h-[calc(100%-50px-80px)] overflow-y-auto;
}

.cart_button{
    @apply px-[20px] h-[38px] rounded-[20px] bg-[#f63b60] flex items-center justify-center cursor-pointer;
} 
    
.cart_button_text{
    @apply text-[#fff] text-[16px] font-[600];
}

.wishlist_content {
    @apply w-full h-[calc(100%-80px)] overflow-y-auto;
}

.input{
    @apply w-full border p-1 rounded-[5px];
}
    
.activeStatus{
    @apply w-[10px] h-[10px] rounded-full absolute top-0 right-1 bg-[#40d132];
}


